<h2>新用户注册</h2>

<!--
<%# form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="control-group">
    <%= f.label '邮箱', :class => 'control-label' %><br />
    <div class="controls">
      <%= f.email_field :email, autofocus: true, :class => 'form-control'  %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label '密码', :class => 'control-label'%> <% if @validatable %><i>(最少长度<%= @minimum_password_length %> 位)</i><% end %><br />
    <div class="controls">
      <%= f.password_field :password, autocomplete: "off", :class => 'form-control'  %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label '确认密码', :class => 'control-label'%><br />
    <div class="controls">
      <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control'  %>
    </div>
  </div>
  <br>
  <div>
    <%= f.submit "提交", class: 'btn btn-primary' %>
    <%= link_to "返回", :back, class: 'btn btn-default' %>
  </div>
<%# end %>
-->

<%#= render "devise/shared/links" %>
