<%= form_for(@customer) do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :avatar %><br>
    <%= f.text_field :avatar %>
  </div>
  <div class="field">
    <%= f.label :open_id %><br>
    <%= f.text_field :open_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
