<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @customer.avatar %>
</p>

<p>
  <strong>Open:</strong>
  <%= @customer.open_id %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
