<%= form_for @first_category, :html => { :class => "form-horizontal first_category" } do |f| %>

  <div class="control-group">
    <%= f.label "商品一级分类名称", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label "商品一级分类图标", :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :logo, :class => 'form-control' %>
    </div>
  </div>

  <br/>

  <%= f.submit "确定", :class => 'btn btn-primary' %>
  <%= link_to "返回", first_categories_path, :class => 'btn btn-default'  %>
<% end %>
